/*////////////////////GLOBAL///////////////*/

* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  margin: 0;
  color: white;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 18pt;
}

.top-img {
  background-image: url("../img/top.jpg");
}
.btm-img {
  background-image: url("../img/btm.jpg");
}
.top-text {
  background-color: blue;
}
.btm-text {
  background-color: red;
}

/*////////////////////END GLOBAL///////////////*/

/*////////////////////LARGE///////////////*/


@media only screen and (min-width: 985px){


.big .tags {
  margin-top: 90px;
}
#hideme{
  margin-top: 20px;
}
.big h2 {
  font-size: 30px;

}
.big-text-box  {
  margin-left: 30px;
  margin-bottom: -40px;
  width: 300px;
  height: 370px;
  background-color: #424242;
  position: absolute;
  top: 230px;
  left: 0.25em;
  padding: 30px;
  display: inline-block;
}
  .big-img {
    width: 100%;
    height: 100%;
    background-image: url("../img/lrg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
  }

  .big {
    width: 66%;
    height: 40em;
    float: left;

  }

  .top, .btm {
    height: 20em;
    width: 34%;
    float: right;
  }

  .top-img, .btm-img {
    width: 100%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: block;
  }

  .top-text, .btm-text {
    width: 100%;
    min-height: 30%;
    display: block;
    padding: 10px;
  }

  .top-text h2, .btm-text h2{
    font-size: 12pt;
    line-height: 1.5em;
  }

  .tags {
    margin-top: 10px;
  }

}

/*////////////////////END LARGE///////////////*/




/*////////////////////MEDIUM///////////////*/
@media only screen and (min-width: 582px) and (max-width: 984px){

  .big-text-box  {
    margin-left: 30px;
    margin-bottom: -40px;
    width: 50%;
    height: auto;
    background-color: #424242;
    position: absolute;
    top: 10em;
    left: 0.25em;
    padding: 30px;
    display: inline-block;
  }

  .big-img {
    position: relative;
    width: 100%;
    height: 30em;
    background-image: url("../img/lrg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
  }


  .top {
    width: 50%;
    float: left;
    display: block;
  }
  .btm {
    width: 50%;
    float: right;
    display: block;
  }

  .top-img, .btm-img {
    width: 100%;
    height: 15em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
  }

  .top-text, .btm-text {
    width: 100%;
    height: 8em;
    padding: 10px;
    display: block;
  }

  .top-text h2, .btm-text h2{
    font-size: 12pt;
    line-height: 1.5em;
  }

  .tags {
    margin-top: 2em;
  }
  #hideme{
    margin-top: 1em;
  }
}

/*////////////////////END MEDIUM///////////////*/

/*////////////////////MOBILE///////////////*/

@media only screen and (max-width: 581px){

  #hideme {
    visibility: hidden;
  }


  .big-text-box  {
    margin-left: 30px;
    margin-bottom: -40px;
    width: 90%;
    max-height: 55%;
    margin: auto;
    background-color: #424242;
    position: absolute;
    top: 130px;
    left: 0.55em;
    padding: 20px;
    display: block;
  }

  .big-img {
    position: relative;
    width: 100%;
    height: 25em;
    background-image: url("../img/lrg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
  }

  .top, .btm {
    width: 100%;
    min-height: 0;
    display: inline-block;
  }

  .top-img, .btm-img {
    width: 34%;
    height: 12em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: inline-block;
    margin-bottom: -4px;
  }

  .top-text, .btm-text {
    width: 66%;
    height: 12em;
    display: inline-block;
    float: right;
    padding: 10px;
    line-height: 1.5em;
  }

  .top-text h2, .btm-text h2{
    font-size: 12pt;
    line-height: 1.5em;
  }

  .tags {
    margin-top: 2em;
  }

}
